@media (min-width: 1200px) and (max-width: 1399px){.cover{max-width:114rem}.header .content__container-middle{left:5%}.header .content__link{display:inline-block;margin:0 3rem;font-size:1.4rem;text-transform:uppercase;color:#005AC3}.header .content__number{margin-top:2.6rem}.main{background:url(../img/main/main-bg.png) top center no-repeat;background-size:auto 70%}.main .entity{padding:12rem 0 0 0}.main .entity__header{margin:0 0 3rem 5.5rem}.main .entity__content-arrow{margin:0 0 10rem 5rem}.main .entity__form-search{width:25%}}
