@media (min-width: 1400px) and (max-width: 1599px){.cover{max-width:120rem}.main{background:url(../img/main/main-bg.png) top center no-repeat;background-size:auto 70%}.main .entity__form{width:86%;padding:2.7rem 8%}.main .entity__p{top:22.8%;left:21%}.main .entity__form-min{width:12.4%}.main .entity__form-max{width:12.4%}}
