$header-color: #EEEFEF;
$header-font-color: #005AC3;
$header-button-color: #2770CA;
$form-button-color: #9BC04B;
$input-color: #E7E8E9;
$font-light: #FFFFFF;
$font-dark: #000000;

@media (min-width: 992px) and (max-width: 1199px) {
	
	.cover {
		max-width: 96rem;
	}


	/* Header */

	.header{

		.content{

			&__container-middle{
				left: 5%; 
			}

			&__link{
				margin: 0 2rem;
			}

			&__button{
				margin: 1.4rem 0 0 2rem;
			}
					
		}
	}


	/* Main */

	.main{
		background: url(../img/main/main-bg.png) top center no-repeat;
		background-size: auto 60%;

		.entity{
			padding: 10rem 0 0 0;
			
			&__header{
				margin: 0 0 4rem 5.5rem;
			}

			&__content-arrow{
				background-color: transparent;
				margin: 0 0 8rem 5rem;
			}
		

			&__form{
				width: 90%;
				padding: 2.7rem 7%;
			}

			&__form-header{
				margin: 0 0 2.5rem 0;
			}

			&__input{ 
				margin-bottom: 3rem;
			}

			&__p{
				position: absolute;
				top: 22.8%;
				left: 19.6%;
				font-size: 1.4rem;
				color: $font-light;
				text-align: center;
			}

			&__form-search{
				width: 27%;
			}
		}

	}

}