$header-color: #EEEFEF;
$header-font-color: #005AC3;
$header-button-color: #2770CA;
$form-button-color: #9BC04B;
$input-color: #E7E8E9;
$font-light: #FFFFFF;
$font-dark: #000000;

@media (min-width: 1200px) and (max-width: 1399px){
	 
	.cover {
		max-width: 114rem;
	}

	.header{

		.content{ 
		
			&__container-middle{
				left: 5%;
			}

			&__link{
				display: inline-block;
				margin: 0 3rem;
				font-size: 1.4rem;
				text-transform: uppercase;
				color: $header-font-color;
			}

			&__number{
				margin-top: 2.6rem;
			}			
		}

	}


	/* Main */

	.main{
		background: url(../img/main/main-bg.png) top center no-repeat;
		background-size: auto 70%;

		.entity{
			padding: 12rem 0 0 0;
			
			&__header{
				margin: 0 0 3rem 5.5rem;
			}

			&__content-arrow{
				margin: 0 0 10rem 5rem;
			}
		
			&__form-search{
				width: 25%;
			}
		}
	}

}