@media (min-width: 1400px) and (max-width: 1599px){
	 
	.cover {
		max-width: 120rem;
	}

	/* Main */

	.main{
		background: url(../img/main/main-bg.png) top center no-repeat;
		background-size: auto 70%;
		
		.entity{

			&__form{
				width: 86%;
				padding: 2.7rem 8%;
			}
				
			&__p{
				top: 22.8%;
				left: 21%;
			}

			&__form-min{
				width: 12.4%;
			}

			&__form-max{
				width: 12.4%;
			}	
		}
	}
	

}