$header-color: #EEEFEF;
$header-font-color: #005AC3;
$header-button-color: #2770CA;
$form-button-color: #9BC04B;
$input-color: #E7E8E9;
$font-light: #FFFFFF;
$font-dark: #000000;

@media (min-width: 100px) and (max-width: 575px) {
	 
	.cover {
		max-width: 95%;
	}


	/* Header */

	.header{

		.content{
			padding: 0.2rem 0;
			flex-wrap: wrap;

			&__logo{
				display: block;
				margin: 0 auto;
			}
			
			&__link{
				display: block;
				margin: 0 auto;
			}

			&__container-middle{
				left: 0;
				width: 100%;
				margin-top: 1rem;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}

			&__link{
				margin: 0.5rem auto;
				padding: 0 0.5rem 0 0.5rem;
				font-size: 1.4rem;
			}
		

			&__container-right{
				margin: 0 auto;
			}

			&__number{
				display: none;
			}

			&__button{
				margin: 1.4rem 0 0 0;
			}

		}
	}


	/* Main */

	.main{
		background-color: $header-color;
		background-image: none;

		.entity{
			padding: 2rem 0 0 0;

			
			&__header{
				margin: 0 0 2rem 0;
				font-size: 4rem;
				color: $header-font-color;
				text-align: center;
			}

			&__content-brake{
				display: none;
			}

			&__content-arrow{
				display: none;
			}

			&__form{
				width: 100%;
				padding: 1rem 2%;
				margin: 0 auto 5rem auto;
			}

			&__form-header{
				width: 100%;
				margin: 0 0 2rem 0;
				font-size: 2rem;
			}

			&__input{
				width: 100%;
				margin-bottom: 1.5rem;
			}

			&__p{
				display: none;
			}

			&__form-refine{
				width: 100%;
				margin: 0 0 2rem 0 !important;
			}

			&__form-reset{
				order: 2;
				margin: 1.5rem auto 1rem auto;
				padding: 0 0 0.5rem 0;
				font-size: 1.4rem;				
			}

			&__form-search{
				order: 1;
				width: 100%;
				padding: 1.3rem 0 ;
				font-size: 1.6rem; 

				&:hover{
					box-shadow: 0 0 20px rgba(155,192,75,0.9);
				}
			}
		}
	}

}