$header-color: #EEEFEF;
$header-font-color: #005AC3;
$header-button-color: #2770CA;
$form-button-color: #9BC04B;
$input-color: #E7E8E9;
$font-light: #FFFFFF;
$font-dark: #000000;

@media (min-width: 576px) and (max-width: 767px) {
	 
	.cover {
		max-width: 54rem;
	}


	/* Header */

	.header{

		.content{
			padding: 0.2rem 0;
		
			&__container-middle{
				left: 0%;
			}

			&__link{
				margin: 0 1rem;
			}

			&__news{
				display: none;
			}
		
			&__number{
				display: none !important;
			}

			&__button{
				padding: 0 1.5rem; 
				margin: 1.4rem 0 0 0;
			}
		}
	}


	/* Main */

	.main{
		background-size: auto 60%;

		.entity{
			padding: 7rem 0 0 0;
			
			&__header{
				margin: 0 0 7rem 0;
				font-size: 3rem;
				text-align: center;
			}

			&__content-brake{
				display: none;
			}

			&__content-arrow{
				display: none;
			}
		

			&__form{
				width: 100%;
				padding: 1rem 2%;
				margin: 0 auto 5rem auto;
			}

			&__form-header{
				width: 100%;
				margin: 0 0 2.2rem 0;
				font-size: 2rem;
			}

			&__input{
				padding: 0.8rem;
				margin-bottom: 2rem;
				font-size: 1.2rem;
			}

			&__p{
				position: absolute;
				top: 19%;
				left: 15.5%;
				font-size: 1.2rem;
			}

			&__form-search{
				width: 35%;
			}
		}	
	}

}