$header-color: #EEEFEF;
$header-font-color: #005AC3;
$header-button-color: #2770CA;
$form-button-color: #9BC04B;
$input-color: #E7E8E9;
$font-light: #FFFFFF;
$font-dark: #000000;

@media (min-width: 768px) and (max-width: 991px) {
	 
	.cover {
		max-width: 72rem;
	}


	/* Header */

	.header{ 

		.content{
			padding: 0.7rem 0;
			justify-content: space-between;
		
			&__container-middle{
				left: 0;
				height: 100%;
				justify-content: center;
			}

			&__link{
				display: inline-block;
				margin: 0 1rem;
				font-size: 1.4rem;
				text-transform: uppercase;
				color: $header-font-color;
			}

			&__number{
				height: 1.8rem;
				margin-top: 2.7rem;
				font-size: 1.4rem;
			}

			&__button{
				padding: 0 2rem; 
				margin: 1.4rem 0 0 1.8rem;
			}		
		}
	}


	/* Main */

	.main{
		background-size: auto 60%;

		.entity{
			padding: 8rem 0 0 0;
			
			&__header{
				margin: 0 0 2rem 5.5rem;
				font-size: 3.4rem;
			}

			&__content-arrow{
				background-color: transparent;
				margin: 0 0 5rem 5rem;
			}

			&__form{
				width: 100%;
				padding: 2.7rem 3%;
				margin: 0 auto 5rem auto;
				background-color: rgba(39,112,202,0.92);
			}

			&__form-header{
				width: 100%;
				margin: 0 0 2.2rem 0;
				font-size: 2.2rem;
			}

			&__input{
				padding: 0.8rem;
				margin-bottom: 2rem;
				background-color: $input-color;
			}

			&__p{
				top: 22%;
				left: 16.3%;
			}

			&__form-search{
				width: 30%;
				padding: 1.3rem 0 ;
				background-color: $form-button-color;
				font-weight: bold;
				font-size: 1.4rem;
				color: $font-light;
				text-transform: uppercase;
				border-radius: 16px;

				&:hover{
					box-shadow: 0 0 20px rgba(155,192,75,0.9);
				}
			}

		}
	}

}